@media (min-width: 38rem) {
  /* Hide hamburger on large screens */
  #menu {
    display: none;
  }

  /* Show links normally on large screens */
  nav a {
    display: inline-block;
  }

  header h1 {
    font-size: 2rem;
    padding: 1.25rem 1rem 0.75rem;
  }

  main > h2 {
    font-size: 1.75rem;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.25rem;
  }
}
