@media (min-width: 800px){
  .menu-btn{ display:none; }

  .site-nav{
    display:flex;
    flex-direction:row;
    align-items:center;
  }

  .hero{
    grid-template-columns: 1.1fr .9fr;
    align-items:center;
  }

  .grid-3{
    grid-template-columns: repeat(3, 1fr);
  }

  .site-nav.open{
  flex-direction:row;
  padding:0;
  background:transparent;
}

.hero-img{
  border-radius: var(--radius);
}

}
