/* PAGE GRID */
body {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 300px 1fr 300px;
  grid-template-rows: auto 1fr auto;
  font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */
header {
  background-color: lightpink;
  padding: 2rem;
  grid-column: 1 / 4;
}

/* NAVIGATION (Flexbox) */
nav ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}

nav a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

/* LEFT SIDEBAR */
aside.left-sidebar {
  background-color: lightblue;
  padding: 1rem;
  grid-column: 1 / 2;
}

/* MAIN CONTENT */
main {
  background-color: coral;
  padding: 1rem;
  grid-column: 2 / 3;
}

/* RIGHT SIDEBAR */
aside.right-sidebar {
  background-color: lightyellow;
  padding: 1rem;
  grid-column: 3 / 4;
}

/* FOOTER */
footer {
  background-color: wheat;
  padding: 2rem;
  text-align: center;
  grid-column: 1 / 4;
}
