/* (larger view) */
@media (min-width: 38rem) {
  header h1 {
    text-align: center;
    font-size: 2rem;
    padding: 1.25rem 1rem 0.75rem;
  }

  nav {
    justify-content: center;
    gap: 0.75rem;
  }

  main > h1 {
    text-align: center;
    font-size: 1.75rem;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.25rem;
  }
}
